/*color:#F5B041;
background-color:#CA6F1E;*/
header {
	opacity:1;
	background-repeat: no-repeat;	
	height:100vh;
	background-image:url("../img/macrons.jpg");
	background-position: center;
	background-size: cover;
}
/*PRODUCTS*/
.products{
	text-align: center;
}
.products h1{
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid  #51453d;
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 10px; 
	margin-top: 40px;
}
.cen{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}
.product{
	opacity: 1;
	display: inline-block;
	width: calc(100%/3);
	margin: 0 -2px;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.4s;	
}
.product h2 a{
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	margin:0;
	color:  #51453d;
}
.product p{
	color: gray;
	font-size:15px;
	font-weight:500;
}
.para p{
	display: none;
	font-size: 18px;
	margin-top: 50px;
	border:1px solid  #51453d;
	border-radius:4px;
	margin-bottom: 50px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: #ffffff;
	padding: 10px 10px;
	text-align: justify;
}
.para p:target{
	display: block;
}
@media server and (max-width:800px){
	.product{
		width: 50%;
	}
}
@media server and (max-width:500px){
	.product{
		width: 100%;
	}
}
